@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@layer components {
  .link {
    @apply cursor-pointer text-default-dark/85 hover:text-dark-blue transition-colors;
  }

  /* SECCION: INICIO */
  .step-card {
    @apply bg-white px-4 py-6 rounded-xl flex items-center gap-4 hover:scale-101 hover:shadow-lg hover:shadow-amber-500 transition-all;
  }

  .step-box {
    @apply bg-amber-300 text-dark-blue font-bold w-50 aspect-square flex items-center justify-center text-5xl shadow-sm;
  }
  
  .help-card {
    @apply shadow-2xl rounded-2xl max-w-[600px] min-h-[400px] grid place-content-center bg-gradient-to-br;
  }

  /* SECCION: PAQUETES */
  .filter-btn {
    @apply min-w-[132px] bg-black/75 text-white py-1 px-2 rounded cursor-pointer hover:bg-black/85 transition-colors duration-150;
  }

  .packageCard {
    @apply bg-white rounded-xl shadow-lg flex flex-col relative hover:scale-103 transition-transform;
  }

  .destinyText {
    @apply absolute left-1/2 top-40 -translate-x-1/2 -translate-y-1/2 flex flex-col p-4 text-center bg-black/20 w-44 rounded-xl text-white group-hover:scale-125 transition-transform;
  }

  .tags {
    @apply flex gap-2 text-xs text-white ml-2 z-10;
  }

  .tag {
    @apply bg-gray-900 text-white text-xs -mt-2 rounded-2xl px-3;
  }

  /* CARRITO */
  .cart {
    @apply max-w-6xl w-full max-h-[800px] h-full bg-gray-100 shadow-md border border-black/20 py-10 px-15 grid grid-cols-3 gap-15;
  }
  .history {
    @apply bg-white w-full px-8 py-4 h-fit border border-t-4 border-t-green-buy rounded-2xl border-black/10 shadow-md overflow-hidden;
  }
  .btn-history {
    @apply text-white p-2 rounded-lg font-semibold cursor-pointer;
  }
  
  .package {
    @apply h-fit my-3 bg-white flex justify-between items-end border border-black/10 shadow-md py-4 px-8;
  }

  .title {
    @apply text-2xl font-bold mb-2 text-gray-900;
  }

  .delete {
    @apply border-2 border-red-600/50 font-bold rounded-md py-1 px-2 bg-red-600/70 text-white text-sm cursor-pointer hover:scale-105 hover:bg-red-600 transition-transform flex;
  }
}

@theme {
  --color-default-dark: #1c1c1c;
  --color-default-light: #ebebeb;
  --color-dark-blue: #101426;
  --color-green-buy: #2ea32e;

  --font-manrope: "Manrope", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  --container-8xl: 1440px;
}